@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET 4 MVC 5</h1>
    <p class="lead">POGNALi</p>
    <div class="row">
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">person_pin</i>Category</div>
                <div class="collapsible-body"><a class="waves-effect waves-light ibtn" href="/Categories">Learn more</a></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">today</i>Subcategory</div>
                <div class="collapsible-body"><a class="waves-effect waves-light ibtn" href="/Subcategories">Learn more</a></div>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            YOQ PACANi
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>