body {
    padding-top: 60px ;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-right: 15px;
}
.responsive-video{
	height:100%;
	width:100%;
}
.
.navbar{
	margin-bottom:0px;
}
video {
	min-width: 100%;
	position: relative;
	background-size: cover;
}
.container {
    min-width:100%;
}	
nav {
	position: fixed;
	z-index: 1000;
}
.parallax img {
	display: inline-block;
	width: 100px;
}
.section-white{
	background-color: #fff;
	display: inline-block;
}
table {
	z-index: 1000;
	background-color: rgba(255,255,255,0.7);
}
p.flow-text.col.s6.pull-s6{
	text-align: center;
}
i.large.material-icons.col.s6.pull-s6
{
	padding-left: 22%;
}
.parallax-container{
	height: 521px;
}
.home-element {
	background-color: rgba(0,0,0,0.1);
	height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	position:absolute;
	top: 0;
	left: 0;
}
section#home.container{
	min-width: 100%;
	min-height: 100%;
	margin: 0;
}
div.home-element>h1,h2{
	padding-left: 150px;
}
div.home-element > h1 {
    padding-top: 200px;
}
section {
}
body>div.row {
	margin-bottom: 0;
}
#price>h1{
	margin: 0;
	text-align: center;
}